*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;

  background-size: cover;
  background-position: center;
  background-image: url('./Components/images/mountain.jpg');

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 4px #000000;
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: black;
}

.calculator-container {
  width: 30%;
  height: auto;
  
  border-style: solid;
  border-radius: 5px;
  border-width: 0.15rem;
  box-shadow: 5px 10px rgba(0, 0, 0, .40);
  background-color: rgba(211, 248, 255, 0.95);
}

.input-container {
  padding: 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container {
  padding: 3%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.calculation-container {
  padding: 1rem;
  border-top-style: solid;
}

#after-tax {
  pointer-events: none;
}

#contributions {
  pointer-events: none;
}
